* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100vw;
	height: 100vh;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #ccedf6;
}

ul {
	list-style: none;
}

.container {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 500px;
	height: auto;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
	/* Shadow effect */
}

.container h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #434040;
	color: #fff;
	font-family: sans-serif;
	height: 50px;
}

.task-input {
	display: flex;
	height: 50px;
	padding: 0 25px;
	position: relative;
}

.task-input input {
	height: 100%;
	width: 100%;
	font-size: 18px;
	outline: none;
	border-radius: 5px;
	border: 2px solid #b4b3b3;
	padding: 0 20px 0 40px;
}

.task-input img {
	position: absolute;
	top: 35%;
	left: 7%;
}

.task-input input::placeholder {
	color: #bfbfbf;
}

.controls {
	padding: 18px 25px;
	border-bottom: 1px solid#b4b3b3;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.filters {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.filters span {
	cursor: pointer;
	font-size: 17px;
}

.filters span.active {
	color: #ff1f1f;
}

.controls .clear-btn {
	padding: 7px 13px;
	color: #fff;
	background-color: #ff1f1f;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 17px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
	/* Shadow effect */
}

#task-box {
	margin: 20px 25px;
}

.task {
	display: flex;
	justify-content: space-between;
	/* border: 2px solid red; */

}

.task label {
	display: flex;
	justify-content: space-between;
	/* text-align: center; */
	align-items: center;
	width: 100%;
	/* border: 2px solid red; */

}
.task label p.checked{
	text-decoration: line-through;
}

/* .task label input {
	margin-right: 10px;
} */

.task .delete-btn {

	color: #fff;
	background-color: #ff1f1f;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	font-weight: bolder;
	padding: 7px 13px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}

#task-box .task {
	font-size: 17px;
	margin-bottom: 20px;
	border-bottom: 1px solid #b4b3b3;
	padding-bottom: 15px;

}

#task-box .task:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}